@use 'global' as *;
.titlebj{
    h1{
        background-color: $black;
        color: $green;
        padding: 50px;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 42px;
    }
}